.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section__info {
    max-width: fit-content;
}

.__name {
    font-size: 1.5rem;
}

.about__text {
    font-size: 1.3rem;
}

span {
    font-weight: bold;
    text-transform: uppercase;
}

.profile__photo {
    height: 100vh;
}

.section__links {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    list-style: none;
}