@font-face {
    font-family: Roboto;
    src: url(./Roboto.ttf) format('truetype');
}

@font-face {
    font-family: Inter;
    src: url(./Inter.ttf) format('truetype');
}

.title {
    font-family: Roboto;
}

.text {
    font-family: Inter;
}