form {
    height: 50vh;
    justify-content: center;
    align-items: end;
    display: grid;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

input {
    transition: all 1s;
}

input:hover {
    border: 0px solid transparent;
    font-size: 3rem;
}

button {
    transition: all 1s;
}

button:hover {
    border: 0px solid transparent;
    background-color: transparent;
}