@font-face {
    font-family: 'Lexend';
    src: url(./fonts/Lexend.ttf);
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html, body {
    margin: 1.5rem 0 0 0;
    padding: 0;
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
}

.banner {
    overflow: hidden;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent;
    backdrop-filter: blur(4px);
    position: fixed;
}

.banner a {
    transition: 1s;
    margin-right: 5rem;
    float: inline-start;
    color: black;
    text-align: right;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.banner a:hover {
    transition: 0.5s;
    color: rgb(60, 174, 255);

}

.element {
    list-style-type: none;
}

.name {
    color: transparent;
    background: -webkit-linear-gradient(45deg, rgb(0, 255, 229), rgb(221, 0, 255));
    background-clip: text;
    margin-top: 40vh;
    text-align: center;
}

.network {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 20vh;
}

.network a {
    padding: 20px;
}

table {
    width: 60%;
    margin: 50vh auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
}
th {
    padding: 1.25em;
    background-color: #2e2f2e;
    color: #fff;
}

td {
    padding: 0.5em;
}

p {
    background-clip: text;
    text-align: center;
}

.description {
    background-clip: text;
    text-align: justify;
    padding: 20vw;
}

.bottom-text {
    background-clip: text;
    text-align: center;
    padding: 20vw; 
}

.download-div {
    transition: 3s;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;

}

.download-cv-btn {
    border: none;
    border-radius: 1.05rem;
    padding: 1.5rem 2rem;
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
    transition: .5s;
    background-color: #2e2f2e;
    &:hover {
        transition: 0.5s;
        background-color: #068899;
    }
}

footer {
    transition: 3s;
    background-color: #2e2f2e;
    color: white;
    text-align: center;
    padding: 0.2rem;
    bottom: 0;
    &:hover{
        transition: 0.25s;
        background-color: #068899;
    }
}