@font-face {
    font-family: 'Lexend';
    src: url(./fonts/Lexend.ttf);
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html, body {
    margin: 1.5rem 0 0 0;
    padding: 0;
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
}

.banner {
    overflow: hidden;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent;
    backdrop-filter: blur(4px);
    position: fixed;
}

.banner a{
    margin-right: 5rem;
    float: inline-start;
    color: black;
    text-align: right;
    padding: 12px;
    text-decoration: underline;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.banner a:hover {
    transition: 0.5s;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    color: rgb(60, 174, 255);

}

.element {
    list-style-type: none;
}

.name {
    color: transparent;
    background: -webkit-linear-gradient(45deg, rgb(0, 213, 255), rgb(157, 0, 255));
    background-clip: text;
    margin-top: 50vh;
    text-align: center;
}

table {
    width: 60%;
    margin: 50vh auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background-color: #20b8cd;
    color: white;
}

p {
    background-clip: text;
    text-align: center;
}

.description {
    background-clip: text;
    text-align: justify;
    padding: 20vw;
}

.bottom-text {
    background-clip: text;
    text-align: center;
    padding: 20vw;   
}

footer {
    background-color: #068899;
    color: white;
    text-align: center;
    padding: 0.2rem;
    bottom: 0;
}