@font-face {
    font-family: 'Lexend';
    src: url(./fonts/Lexend.ttf);
}

body {
    height: 100vh;
    width: 100vw;
    align-items: center;
    align-self: center;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
}

.banner {
    overflow: hidden;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent;
    backdrop-filter: blur(4px);
    position: fixed;
}

.banner a {
    transition: 1s;
    margin-right: 5rem;
    float: inline-start;
    color: black;
    text-align: right;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.banner a:hover {
    transition: 0.5s;
    color: rgb(60, 174, 255);

}

.element {
    list-style-type: none;
}

input[type=text], select, textarea {
    width: 95vw;
    padding: 1rem; 
    border: 1px solid #000;
    border-radius: 0.4rem;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    resize: vertical;
}

input[type=submit] {
    transition: 1s;
    background-color: #20b8cd;
    color: #000;
    padding: 0.7rem 1.2rem;
    border: none;
    width: 10vw;
    border-radius: 0.35rem;
    cursor: pointer;
    &:hover {
        transition: 1s;
        background-color: #6eeeff;
    }
}

form {
    display: grid;
}

.contact-div {
    padding: 1rem;
} 