:root{
    /*color*/
    --color-gray: #919191;

    /*sizes*/
    --size-a: 2em;
    --size-h1: 4.5em;
}

h1, a {
    color: var(--color-gray);
}

h1 {
    font-size: var(--size-h1);
}

a{
    font-size: var(--size-a);
}